<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <th:block th:include="fragments/cdn.html :: cdn-head"></th:block>
    <th:block th:include="fragments/custom.html :: stylesheet"></th:block>
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>
<h1 class="titleDisplayList">Please Log in</h1>
<div class="container pagediv grouplist-login">
    <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
            <div id="login-box" class="col-md-12">
                <form id="loginForm" class="form" th:action="@{/login}" method="post">

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="username" id="username" class="form-control"
                               placeholder="Enter user name">
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="password" id="password" class="form-control"
                               placeholder="Enter password">
                    </div>
                    <div class="form-group">
                        <label title="No linking, just for demo purpose" for="remember-me" class="text-color-login"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox" title="No linking, just for demo purpose"></span></label><br>
                        <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                    </div>

                    <div id="register-link" class="text-right">
                        <a title="No linking, just for demo purpose" th:href="@{/register}" class="text-info">Register here</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<th:block th:include="fragments/cdn.html :: cdn-scripts"></th:block>
</body>
</html>