<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{'#'}"><img
                src="https://image.flaticon.com/icons/png/128/3364/3364355.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/'}">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/films'}">Films</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/actors'}">Actors</a>
                </li>
<!--                <li class="nav-item" sec:authorize="!isAuthenticated()">-->
<!--                    <a class="nav-link" th:href="@{'/login'}">Sign In</a>-->
<!--                </li>-->
<!--                <li class="nav-item" sec:authorize="!isAuthenticated()">-->
<!--                    <a class="nav-link" th:href="@{'/register'}">Register</a>-->
<!--                </li>-->
<!--                <li class="nav-item" sec:authorize="isAuthenticated()">-->
<!--                    <form method="post" th:action="@{/logout}">-->
<!--                        <button class="btn btn-outline-info" type="submit">Sign out</button>-->
<!--                    </form>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/shop'}" href="#">Shop</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li sec:authorize="!isAuthenticated()" class="nav-item mr-2">
                    <a class="nav-link btn btn-outline-success text-white" th:href="@{'/login'}" href="#">Sign in</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item mr-2">
                    <a class="nav-link btn btn-outline-info text-white" th:href="@{'/register'}" href="#">Register</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item mr-2">
                    <a class="nav-link btn btn-outline-warning text-white" th:href="@{'/cart'}" href="#">
                        <i class="fas fa-shopping-cart"></i>
                        <span th:if="${session.cart}" th:text="${session.cart.size()}"
                              class="badge badge-pill badge-danger">5</span>
                        Shopping cart
                    </a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item dropdown ">
                    <a th:text="'Signed in as ' + ${#authentication.name}" class="nav-link dropdown-toggle" href="#"
                       id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu navbar-dark bg-dark" aria-labelledby="navbarDropdown">
                        <a class="text-white text-center dropdown-item"
                           th:href="@{'/my-profile'}" href="#">My profile</a>
                        <a class="text-white text-center dropdown-item"
                           th:href="@{'/orders'}" href="#">My orders</a>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-item">
                            <form method="post" th:action="@{/logout}">
                                <button class="text-white dropdown-item" type="submit">Sign out</button>
                            </form>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </nav>
</header>
</html>