<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="(${film.title})">Title</title>
    <th:block th:include="fragments/cdn.html :: cdn-head"></th:block>
    <th:block th:include="fragments/custom.html :: stylesheet"></th:block>
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>
<h1 class="titleDisplayList" th:text="'Details of ' + ${film.title}">Details of film....</h1>
<div class="container-fluid pagediv grouplist">
    <a sec:authorize="isAuthenticated() and hasRole('ADMIN')" th:href="@{'/films/' + ${film.id} + '/edit'}" class="btn btn-info btn-edit">Edit</a>
    <hr>
    <div th:class="place-text">
        <img th:class="film-avatar-big" th:src="${film.urlPoster}">
        <div>
            <h4 th:class="film-actors-title">Actors ...</h4>
            <ul th:classappend="list-group" th:each="actor: ${film.getActors()}">
                <li th:class="list-group-item">
                    <ul th:class="noformat-ul">
                        <li><span class="bolding">Actor: </span><span
                                th:text="${actor.firstName} + ' ' + ${actor.lastName}"></span></li>
                        <li><span class="bolding">Poster URL: </span><span th:text="${actor.urlPoster}"></span></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<th:block th:include="fragments/cdn.html :: cdn-scripts"></th:block>
</body>
</html>
