<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="(${film.title} == null ? 'New film': 'Editing ' + ${film.title})">Title</title>
    <th:block th:include="fragments/cdn.html :: cdn-head"></th:block>
    <th:block th:include="fragments/custom.html :: stylesheet"></th:block>
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>
<h1 class="titleDisplayList" th:text="(${film.title} == null ? 'New film': 'Editing ' + ${film.title})">New film</h1>
<section>
    <div class="container-fluid pagediv grouplist">
        <div class="row">
            <div class="col">
                <form class="new-form" th:action="@{/films/new}" th:object="${film}" method="post">
                    <p th:if="${#fields.hasAnyErrors()}" class="input-errors">There was an error in the input.</p>
                    <input type="hidden" th:field="*{id}"/>
                    <div class="input-group mb-2">
                        <div class="col-md-9"><input class="form-control" required type="text" th:field="*{title}"
                                                     pattern="A-Z][a-z0-9 - ]*$"
                                                     placeholder="Title"><br/></div>
                        <div class="col-md-3"><input class="form-control" required type="date" min="1888-01-01"
                                                     th:field="*{releaseDate}" placeholder="Release</div>
year"><br/>
                        </div>
                        <div class="col-md-12"><input class="form-control" required type="text" th:field="*{urlPoster}"
                                                      placeholder="Poster url"><br/></div>
                        <br>
                        <div class="col-md-12">

                            <div class="col-md-4">
                            <h5>Select actors</h5>
                                <select multiple class="form-control" name="selActors" id="selActors"
                                       th:object="${actors}" onclick="$(this)">

                                <option th:each="actor : ${actors}"
                                        th:value="${actor.firstName} + ':' + ${actor.lastName}"
                                        th:text="${actor.firstName} + ' ' + ${actor.lastName}">
                                </option>
                                </select>
                            </div>
                            <hr>
                            <div class="col-md-12">
                                <h5>Didn't find the actor?</h5>
                                <p> Add the actor in this actors list: first name(s): last name </p>
                                <p> Seperate each actor by a comma </p>
                                <input class="col-md-12 form-control" type="text" name="actorlist" id="actorlist"
                                       placeholder="Comma seperated actor list (John:Doe, Jane Sarah: Doe, John: Van Doe ...)"><br/></div>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-success my-2 my-sm-0"
                                    type="submit">Submit
                            </button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</section>
<th:block th:include="fragments/cdn.html :: cdn-scripts"></th:block>
<!--<script th:href="@{/js/myScript.js}"/>-->

<script type="text/javascript">
    $('#selActors').on('change', function () {

        let selectedValue = $(this).find(':selected').val();
        let inputActor = document.getElementById('actorlist')
        let listActors = inputActor.value;

        if (listActors.length > 0) {

            listActors += ', ' + selectedValue;
        } else {
            listActors += selectedValue;
        }

        document.getElementById('actorlist').value = listActors;

    });
</script>

</body>
</html>
