<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/cdn.html :: cdn-head"></th:block>
<body>
<header th:replace="fragments/header.html :: header"></header>
<h1 class="titleDisplayList" th:text="'List of films'">List of films....</h1>
<div class="container-fluid pagediv grouplist">
    <ul th:each="film : ${films}" class="list-group">
        <li class="list-group-item ">
            <img th:class="film-avatar" th:src="${film.urlPoster}">
            <th:block th:text="${film.title}">111</th:block>
            <th:block th:text="${film.getReleaseDate()}">222</th:block>

        </li>
    </ul>
</div>
<th:block th:include="fragments/cdn.html :: cdn-scripts"></th:block>
</body>
</html>