<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Films</title>
    <th:block th:include="fragments/cdn.html :: cdn-head"></th:block>
    <th:block th:include="fragments/custom.html :: stylesheet"></th:block>
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>
<h1 class="titleDisplayList" th:text="'List of films'">List of films....</h1>
<div class="container-fluid pagediv grouplist">
    <div class="search-form ">
        <form class=" form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" name="title" type="search" placeholder="Search on name"
                   aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>

        </form>
<!--        isAuthenticated() and-->
        <a sec:authorize="isAuthenticated() and hasRole('ADMIN')" th:href="@{'/films/new'}" class="ml-auto btn btn-success">New</a>
        <a th:if="${param.title != null}" class="ml-2 btn btn-outline-success" th:href="@{'/films'}">All Films</a>
    </div>
    <hr>
    <div>
        <ul th:each="film : ${films}" class="list-group">
            <li class="list-group-item">
                <img th:class="film-avatar" th:src="${film.urlPoster}">
                <ul class="float-right mt-1 noformat-ul">
                    <li class="right" >
                        <a th:href="@{'/films/' + ${film.id} }" th:text="${film.title}">111
                        </a>
                    </li>
                    <li class="right">
                        <p th:text="${film.releaseDate.getYear()}">222</p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<th:block th:include="fragments/cdn.html :: cdn-scripts"></th:block>
</body>
</html>
