<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <th:block th:include="fragments/cdn.html :: cdn-head"></th:block>
    <th:block th:include="fragments/custom.html :: stylesheet"></th:block>
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>

<div class="container min-vh-100">
    <h1 class="titleDisplayList">My profile</h1>
    <div class="row">
        <div class="container-fluid pagediv grouplist">
            <a th:href="@{'my-profile/edit'}" class="btn btn-info btn-edit mb-1">Edit</a>
            <img class="mx-auto d-block img-thumbnail profile-img responsive my-2" th:src="${user.avatarUrl}" alt="Profile image">
            <table class="table">
                <tbody>
                <tr>
                    <th>Username:</th>
                    <td th:text="${user.username}"></td>
                </tr>
                <tr>
                    <th>Encrypted password:</th>
                    <td th:text="${user.password}"></td>
                </tr>
                <tr>
                    <th>Name:</th>
                    <td th:text="${user.fullName}"></td>
                </tr>
                <tr>
                    <th>Country:</th>
                    <td th:text="${user.country}"></td>
                </tr>
                <tr>
                    <th>Favourite movie quote:</th>
                    <td th:text="${user.faveMovieQuote}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<th:block th:include="fragments/cdn.html :: cdn-scripts"></th:block>
</body>
</html>
