body{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.titleDisplayList{
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    margin: 2rem
}

.pagediv{
    width: 60%;
    margin: auto;
    background-color:white;
    border: #3c3834 solid 4px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.grouplist{
    padding: 50px;
    width: 60vw;
    margin:auto;
}

.grouplist-login{
    padding: 50px;
    width: 40vw;
    margin:auto;
}



.film-avatar{
    width: 45px;
    height: 67px;
}

.title2margin{
    margin-bottom: 2rem;
}

.place-text {
    display: flex;
    text-align: right;
}

.actor-name,
.film-title{
    font-size: 16px;
    font-weight: bold;
}

.film-avatar-big{
    width: 180px;
    height: 230px;
    margin: 10px;
}

.actor-avatar{
    width: 45px;
    height: 67px;
}

.actor-avatar-big{
    width: 150px;
    height: 180px;
    margin: 10px;
}

.navbar-brand img{
    width: 25px;
    height: 25px;
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.details-film{
    width: 60vw;
    margin: auto;
    padding: 20px;
    background-color: white;
    height: 100vh;
}
.imgMainPage {
    text-align: center;
    margin:auto;
}

.noformat-ul{
    list-style-type: none;

}

li.right a,
li.right span,
li.right p{ float:right; }


.actor-films-title,
.film-actors-title{
    text-align: left;
}

.search-form{
    display: flex;
    margin: 10px;
}

#newbtn{
    text-align: right;
    margin-left: auto;
    margin-right: 0;
}

.bolding{
    font-weight: bold;
}

.new-form input{
    width:100%;
    margin: 5px;
}

.input-errors{
    color:red;
    font-weight: bold;
    font-size: 14px;
    border: red solid 2px;
    border-radius: 2px;
}

.btn-edit{
    margin-left: 10px;
}

.list-group li:nth-child(odd) {
    background-color: #f2f2f2;
    color: #242424;
}

.list-group li:nth-child(even) {
    background-color: wheat;
    color: #3c3834;
}

#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 900px;
    height: 320px;
    border: 1px solid #242424;
    background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

.text-color-login{
    color: #cb3b36;
    font-weight: bold;
    font-size: 16px;
}

