<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${actor.getFirstName()} + ' ' + ${actor.getLastName()}">Al Pacino</title>
    <th:block th:include="fragments/cdn.html :: cdn-head"></th:block>
    <th:block th:include="fragments/custom.html :: stylesheet"></th:block>
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>
<h1 class="titleDisplayList" th:text="'List of actors'">List of actors....</h1>
<div class="container-fluid pagediv grouplist">
    <a sec:authorize="isAuthenticated() and hasRole('ADMIN')" th:href="@{'/actors/' + ${actor.id} + '/edit'}" class="btn btn-info btn-edit">Edit</a>
    <hr>

    <div th:class="place-text">
        <img th:class="actor-avatar-big" th:src="${actor.urlPoster}">
        <div >
            <div th:class="actor-name" th:text="${actor.firstName + ' ' + actor.lastName}">111</div>
            <h4 th:class="actor-films-title">Films ...</h4>
            <ul th:class="list-group" th:each="film: ${actor.getFilms()}">
                <li th:class="list-group-item">
                    <ul th:class="noformat-ul">
                        <li>
                            <span class="bolding" >Title:</span><span th:text="${film.title}"></span>
                        </li>
                        <li>
                            <span class="bolding" >Release Date:</span><span th:text="${film.releaseDate}"></span>
                        </li>
                        <li>
                            <span class="bolding" >Poster URL</span><span th:text="${film.urlPoster}"></span>
                        </li>
<!--                        <li th:text="' Title: ' + ${film.title}"></li>-->
<!--                        <li th:text="'Release Date: ' + ${film.releaseDate}"></li>-->
<!--                        <li th:text="'Poster URL: ' + ${film.urlPoster}"></li>-->
                    </ul>

                </li>
            </ul>
        </div>
    </div>

    <!--    </li>-->
    <!--  </ul>-->
</div>
<th:block th:include="fragments/cdn.html :: cdn-scripts"></th:block>
</body>
</html>
