<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Actors</title>
  <th:block th:include="fragments/cdn.html :: cdn-head"></th:block>
  <th:block th:include="fragments/custom.html :: stylesheet"></th:block>
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>
<h1 class="titleDisplayList" th:text="'List of actors'">List of actors....</h1>

<div class="container-fluid min-vh-100 pagediv grouplist">
  <div th:class="search-form">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" name="lastName" type="search" placeholder="Search on Last Name"
             aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <a sec:authorize="isAuthenticated() and hasRole('ADMIN')" th:href="@{'/actors/new'}" class="ml-auto btn btn-success">New</a>
    <a th:if="${param.lastName != null}" class="ml-2 btn btn-outline-success" th:href="@{'/actors'}">All Actors</a>
  </div>
    <hr>
  <div >
    <ul th:each="actor : ${actors}" class="list-group">
      <li class="list-group-item ">
        <img th:class="actor-avatar" th:src="${actor.getUrlPoster}">
        <ul class="float-right mt-1 noformat-ul">
          <li class="right">
            <a th:href="@{'/actors/' + ${actor.id} }" href="#"
               th:text="${actor.firstName} + ' ' + ${actor.lastName}">111
            </a>
          </li>
        </ul>

      </li>
    </ul>
  </div>
</div>
<th:block th:include="fragments/cdn.html :: cdn-scripts"></th:block>
</body>
</html>
