<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <th:block th:include="fragments/cdn.html :: cdn-head"></th:block>
    <th:block th:include="fragments/custom.html :: stylesheet"></th:block>
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>

<div class="container min-vh-100">
    <div class="row">
        <div class="col">
            <h1>Order</h1>
            <table class="table" id="order-detail">
                <thead>
                <th></th>
                <th>Product</th>
                <th>Cost</th>
                <th>Amount</th>
                <th>Subtotal</th>
                </thead>
                <tbody>
                <tr th:each="orderItem : ${order.items}">
                    <div>
                        <td>
                            <a th:href="@{'/shop/product/' + ${orderItem.product.id} }" href="#"><img th:src="${orderItem.product.imgUrl}"
                                                                                                      class="d-inline"
                                                                                                      alt=""
                                                                                                      src="https://picsum.photos/45/67"></a>
                        </td>
                        <td>
                            <a th:href="@{'/shop/product/' + ${orderItem.product.id} }" href="#"
                               th:text="${orderItem.product.name}">T shirt</a>
                        </td>
                        <td>
                            <span th:text="'€' + ${orderItem.product.cost}">€5,00</span>
                        </td>
                        <td>
                            <span th:text="${orderItem.amount}">3</span>
                        </td>
                        <td>
                            <span th:text="'€' + ${orderItem.calcCost().doubleValue()}">€15,00</span>
                        </td>
                    </div>
                </tr>
                </tbody>
            </table>
            <table class="table" id="total">
                <thead>
                <th>Order date</th>
                <th>Total</th>
                </thead>
                <tbody>
                <tr>
                    <div>
                        <td><th:block th:text="${order.timestamp}"></th:block></td>
                        <td><th:block th:text="'€' + ${order.totalCost}"></th:block></td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<th:block th:include="fragments/cdn.html :: cdn-scripts"></th:block>
</body>
</html>
