<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Title</title>
  <th:block th:include="fragments/cdn.html :: cdn-head"></th:block>
  <th:block th:include="fragments/custom.html :: stylesheet"></th:block>
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>

<div class="container min-vh-100">
  <h1 class="titleDisplayList">Your orders:</h1>
  <div class="container-fluid pagediv grouplist">
  <section >
    <table class="table" id="film-list">
      <thead>
      <th>Order No.</th>
      <th>Date</th>
      <th>Order Total</th>
      <th></th>
      </thead>
      <tbody>
      <tr th:each="order : ${orders}">
        <div>
          <td><th:block th:text="${order.id}">491235</th:block></td>
          <td><th:block th:text="${order.timestamp}"></th:block></td>
          <td><th:block th:text="'€' + ${order.totalCost}"></th:block></td>
          <td><a th:href="@{'/order/' + ${order.id} }" class="btn btn-primary">View</a></td>
        </div>
      </tr>
      </tbody>
    </table>
  </section>
  </div>
  </div>

<th:block th:include="fragments/cdn.html :: cdn-scripts"></th:block>
</body>
</html>
