<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Title</title>
  <th:block th:include="fragments/cdn.html :: cdn-head"></th:block>
  <th:block th:include="fragments/custom.html :: stylesheet"></th:block>
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>
<div class="container min-vh-100">
  <div class="row">
    <div class="col">
      <h1>Shopping cart</h1>
      <div class="text-center" th:if="${param.checkout}">
        <p class="alert-msg">Your order has been placed. Thank you for shopping with us.</p>
      </div>
      <table class="table" id="shopping-cart">
        <thead>
        <th></th>
        <th>Product</th>
        <th>Cost</th>
        <th>Amount</th>
        <th>Total</th>
        </thead>
        <tbody>
        <tr th:each="orderItem : ${session.cart}">
          <div>
            <td>
              <a th:href="@{'/shop/product/' + ${orderItem.product.id} }" href="#"><img th:src="${orderItem.product.imgUrl}"
                                                                                        class="d-inline"
                                                                                        alt=""
                                                                                        src="https://picsum.photos/45/67"></a>
            </td>
            <td>
              <a th:href="@{'/shop/product/' + ${orderItem.product.id} }" href="#"
                 th:text="${orderItem.product.name}">T shirt</a>
            </td>
            <td>
              <span th:text="'€' + ${orderItem.product.cost}">€5,00</span>
            </td>
            <td>
              <span th:text="${orderItem.amount}">3</span>
            </td>
            <td>
              <span th:text="'€' + ${orderItem.calcCost().doubleValue()}">€15,00</span>
            </td>
          </div>
        </tr>
        </tbody>
      </table>
      <div class="text-center" th:if="!${session.cart}">
        <p class="">Your shopping cart is empty. <a th:href="@{/shop}">Go shopping!</a></p>
      </div>
      <form method="post" th:action="@{/cart/checkout}" th:if="${session.cart}">
        <button class="btn btn-primary" type="submit">Check out</button>
      </form>
    </div>
  </div>
</div>

<th:block th:include="fragments/cdn.html :: cdn-scripts"></th:block>
</body>
</html>
