<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <th:block th:include="fragments/cdn.html :: cdn-head"></th:block>
    <th:block th:include="fragments/custom.html :: stylesheet"></th:block>
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>

<div class="container min-vh-100">
    <h1 class="titleDisplayList">Shop</h1>
    <div class="row">
        <div class="container-fluid pagediv grouplist">
            <!--        <div class="col" th:each="product : ${products}">-->
            <div class="col" th:each="product : ${products}">
                <div class="card">
                    <img class="card-img-top" th:src="${product.imgUrl}" alt="Product photo">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${product.name}">Card title</h5>
                        <h5 class="card-title" th:text="'€' + ${product.cost}">Card title</h5>
                        <p class="card-text" th:text="${product.description}">Some quick example text</p>
                        <form th:action="@{'/cart/add/' + ${product.id}}" method="post">
                            <button type="submit" href="#" class="btn btn-primary">Add to cart</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:include="fragments/cdn.html :: cdn-scripts"></th:block>
</body>
</html>
